
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>DATAEASY</title>
  </head>
  <style>
    header {
      
      text-align: center;
      font-size: 28px;
      color: black;
      text-decoration: solid;
      font-family: sans-serif;
      
    }
    * {
      box-sizing: border-box;
      
    }
    
    
    p {
      font-size: large;
      font-weight: 100;
      font-family: Arial, Helvetica, sans-serif;
      font-variant-position: sub;
    }
    
    .padding
    {
    width:250px;
    height:250px;
    padding: 50px 50px 50px 50px;
    list-style-position: outside;
    font-family: Arial, Helvetica, sans-serif;
    }

    
  </style>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">

        <a class="navbar-brand" href="#"><img src="https://cdn0.iconfinder.com/data/icons/social-media-logo-4/32/Social_Media_power_bi-512.png" height="70" width="70" hspace="10">
          <div style="display:inline-block;vertical-align:center;" >
            
          <h3><b>DATAEASY</b></h3>
          </div>
         

      </a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="login.html"><img src="https://tse2.mm.bing.net/th?id=OIP.-bPwWcbhtC6F1OtstXr5SAHaHY&pid=Api&P=0&w=174&h=173" height="50" width="50" vspace="10" hspace="10"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="about.html"><img src="http://cdn.onlinewebfonts.com/svg/img_421781.png" height="50" width="50" vspace="10" hspace="10"> </a>
            </li>
            <li class="nav-item active">

              <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8501"><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/data-visualization-39-1058853.png" height="50" width="50" vspace="10" hspace="10"></a>
              </li>
              <li class="nav-item active">
  
              <li class="nav-item active">
                <a class="nav-link" href="contacts.html"><img src="https://www.kindpng.com/picc/m/156-1568226_transparent-contact-icon-png-contact-us-icon-png.png" height="50" width="50" vspace="10" hspace="10"></a>
              </li>
          </ul>

        </div>
      </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


          <img src="https://analyticsindiamag.com/wp-content/uploads/2017/07/Importance-of-a-Digital-Strategy-to-Enable-a-World-Class-Analytics-Culture.jpg" class="d-block w-100" alt="" height="640" width="500">
       
        
          
              </body>
              <div style="display:inline-block;vertical-align:center;">
              </div>
              <header>      
                <div style="display:inline-block;">
              <p>
             <h3><B>WE PROVIDE</B></h3>
             </p>
             </div></header>
 


      <div>
        <div style="display:inline-block;vertical-align:middle;">
      <img src="https://cdn-icons.flaticon.com/png/512/3713/premium/3713687.png?token=exp=1652452297~hmac=f27554d38272f26b64d2c9940131cf56" class="padding" width="100" height="100"> 
      </div>
      <div style="display:inline-block;">
      <p>
       <h4><B>QUICK UPLOADING OF DATASETS</B></h4>
      <h5>Now you can upload datasets as per your requirements resulting precised data visualizations.
          There <h5>are many other features which will enable you to make highly customized, elegant,
          and interactive plots.</h5> 
      </p>
      </div>
      </div>

      
  
      <div>
        <div style="display:inline-block;vertical-align:center;">
      <img src="https://cdn-icons-png.flaticon.com/512/921/921591.png" width="100" height="100" class="padding">
        <div style="display:inline-block;">
        <p>
         <h4><B>ACCURATE VISUALIZATION OF UPLOADED DATASETS</B></h4>
        <h5> This may help your organization see where there’s room for improvement or where performance is high.</h5>
         <h5> Actionable items can result by identifying successes and areas for improvement.
         </h5>
        </p>
        </div>
        </div>
   
     
      <div>
        <div style="display:inline-block;vertical-align:center;"> 
      <img src="https://cdn-icons-png.flaticon.com/512/3798/3798305.png" width="100" height="100" class="padding">
      <div style="display:inline-block;">
        <p>
         <h4><B>EASY TO USE</B></h4>
        <h5> Visual content is processed much faster and easier than text.
         In a world where employees are overloaded<h5> with information, using dataeasy allows you to quickly process,
         section out, and act upon the necessary information.</h5> 

 
        </p>
        </div>
      </div>
  
</html>

